<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>432407721940-6uk51cgr2gjgqv6mu6f145r9uch08g6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.432407721940-6uk51cgr2gjgqv6mu6f145r9uch08g6k</string>
	<key>API_KEY</key>
	<string>AIzaSyBq693CY8A7fdXwVxa4YHBtBrqwraVSZKk</string>
	<key>GCM_SENDER_ID</key>
	<string>432407721940</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Trackbout.DebugGrpc</string>
	<key>PROJECT_ID</key>
	<string>debug-grpc</string>
	<key>STORAGE_BUCKET</key>
	<string>debug-grpc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432407721940:ios:784c2b98039981c87a8841</string>
	<key>DATABASE_URL</key>
	<string>https://debug-grpc.firebaseio.com</string>
</dict>
</plist>